<!--
  - Header
  -->
<app-headermenu></app-headermenu>

<!--
  - Content
  -->
<ion-content>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Contacto</ion-card-title>
              <ion-card-subtitle>Si tiene alguna duda o desea más información sobre VIRTRA-EL, contacte con nosotros a través del siguiente formulario.</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label position="floating">Nombre</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">E-Mail</ion-label>
                <ion-input type="email"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Asunto</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Texto</ion-label>
                <ion-textarea type="text"></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Resultado de 1 + 3</ion-label>
                <ion-input type="number"></ion-input>
              </ion-item>
              <ion-text>Esto evita que se haga un mal uso del formulario de contacto</ion-text>
              <ion-item>
                <ion-button>
                  <ion-icon slot="start" name="add-outline"></ion-icon>
                  Enviar
                </ion-button>
                <ion-button fill="outline" color="danger">
                  <ion-icon slot="start" name="trash-outline"></ion-icon>
                  Limpiar
                </ion-button>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>

<!--
  - Footer
  -->
<app-footer></app-footer>
