<!--
  - Header
  -->
<app-headermenu></app-headermenu>

<!--
  - Content
  -->
<ion-content>
  <h1 i18n>Participantes del proyecto</h1>
  <hr>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm>
        <h3 i18n>Grupo MYDASS de la UGR</h3>
        <ul>
          <li>Rodríguez Fórtiz, María José</li>
          <li>Hurtado Torres, María Visitación</li>
          <li>Espín Martín, Vanesa</li>
          <li>Rodríguez Domínguez, Carlos</li>
          <li>Benghazi Akhlaki, Kawtar</li>
          <li>Fernández López, Álvaro</li>
          <li>Garrido Bullejos, José Luis</li>
          <li>Hornos Barranco, Miguel Juan</li>
          <li>Noguera García, Manuel</li>
          <li>Rodríguez Almendros, María Luisa</li>
          <li>Samos Jiménez, José</li>
        </ul>
        <h3 i18n>Grupo TARVIS</h3>
        <ul>
          <li>Revelles Moreno, Jorge</li>
        </ul>
        <h3 i18n>Grupo GIIG</h3>
        <ul>
          <li>Cano Olivares, Pedro</li>
        </ul>
        <h3 i18n>Grupo del Departamento de Informática de la Universidad de Almería</h3>
        <ul>
          <li>Torres Gil, Manuel</li>
        </ul>
        <h3 i18n>Grupo de Envejecimiento y Salud</h3>
        <ul>
          <li>Villaverde Gutiérrez, María del Carmen</li>
          <li>Ramírez Rodrigo, Jesús María</li>
          <li>Argente del Castillo Lechuga, Josefa</li>
          <li>Ruiz Villaverde, Alberto</li>
        </ul>
      </ion-col>
      <ion-col size="12" size-sm>
        <h3 i18n>Grupo NeuroPsicología y Psiconeuroinmunología Clínica</h3>
        <ul>
          <li>Caracuel Romero, Alfonso</li>
          <li>Pérez García, Miguel</li>
          <li>Rute Pérez, Sandra</li>
          <li>Santiago Ramajo, Sandra</li>
          <li>Vilar López, Raquel</li>
        </ul>
        <h3 i18n>Grupo de la Escuela Andaluza de Salud Pública</h3>
        <ul>
          <li>Espín Balbino, Jaime</li>
          <li>García Mochón, Leticia</li>
        </ul>
        <h3 i18n>Empresas colaboradoras</h3>
        <ul>
          <li>Virtual Solutions</li>
          <li>Virtum Graphics</li>
          <li>Everyware Technologies</li>
        </ul>
        <h3 i18n>Entidades Colaboradoras</h3>
        <ul>
          <li>Consorcio Fernando de los Ríos (aulas Guadalinfo)</li>
          <li>Ayuntamiento de Granada</li>
          <li>Ayuntamiento de Maracena</li>
          <li>Diputación de Granada</li>
          <li>Federación de Organizaciones Andaluzas de Mayores</li>
          <li>Fundación Andaluza de Servicios Sociales</li>
          <li>CITIC-UGR</li>
        </ul>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!--
  - Footer
  -->
<app-footer></app-footer>
