<!--
  - Side menu content
  -->
<ion-menu side="start" content-id="menu-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>VITRAEL</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="paper-plane" slot="start"></ion-icon>
        <ion-label>Proyecto</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!--
  - Header with Menu button and title
  -->
<div id="menu-content">
  <ion-header>
    <ion-toolbar color="primary">
      <!--
        - Displays side menu if mobile
        - else displays toolbar
        -->
      <div *ngIf="mobile">
        <ion-buttons>
          <ion-menu-button autoHide="false"></ion-menu-button>
          <ion-title>Inicio</ion-title>
        </ion-buttons>
      </div>
      <div *ngIf="mobile == false">
        <ion-buttons>
          <ion-button>Inicio</ion-button>
          <ion-button>Proyecto</ion-button>
          <ion-button>Participantes</ion-button>
          <ion-button>Ejercicios</ion-button>
          <ion-button>Contacto</ion-button>

          <ion-button>
            <ion-icon name="clipboard-outline" slot="start"></ion-icon>
            Registrarse
          </ion-button>
          <ion-button>
            <ion-icon name="log-in-outline" slot="start"></ion-icon>
            Iniciar sesión
          </ion-button>
        </ion-buttons>
      </div>
    </ion-toolbar>
  </ion-header>
</div>
