<!--
  - INTRO
  -->
<ion-card *ngIf="exercisePhase === 0">
  <ion-card-content>
    <ion-button (click)="startExercise();">Comenzar</ion-button>
  </ion-card-content>
</ion-card>

<!--
  - Countdown
  -->
<ion-card *ngIf="exercisePhase === 1">
  <ion-card-content>
    <div>
      <h1>{{ this.countdownTimeLeft }}</h1>
    </div>
  </ion-card-content>
</ion-card>

<!--
  - Word list and timer READ
  -->
<ion-card *ngIf="exercisePhase === 2">
  <ion-card-content>
    <ion-list>
      <ion-item  *ngFor="let word of wordListService.getWordList()">
        <span class="words">- {{ word }}</span>
      </ion-item>
      <ion-item>
        Tiempo restante: {{ this.timeLeft }}/{{ this.exerciseAttributes.duration }}
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

<!--
  - Word input and end button WRITE
  -->
<ion-card *ngIf="exercisePhase === 3">
  <ion-card-content>
    <div>
      <ion-label>Introduce una palabra:</ion-label>
      <ion-input type="string" [(ngModel)]="answer"></ion-input>
      <ion-button (click)="checkAnswer()">Escribir Siguiente Palabra</ion-button>
      <ion-button (click)="repeat()">No recuerdo más palabras</ion-button>
    </div>
  </ion-card-content>
</ion-card>

<!--
  - REPEAT
  -->
<ion-card *ngIf="exercisePhase === 4">
  <ion-card-content>
    <ion-button (click)="startTimer()">Continuar</ion-button>
  </ion-card-content>
</ion-card>

<!--
  - END
  -->
<ion-card *ngIf="exercisePhase === 5">
  <ion-card-content>
    <ion-button (click)="endExercise()">Siguiente Ejercicio</ion-button>
  </ion-card-content>
</ion-card>
