<!--
  - Show only if this.show is true
  -->
<ion-item *ngIf="show">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card-header>
          <!--
            - Assistant avatar
            -->
          <ion-avatar> <img src="../../../assets/img/pepe_pesco-01.png" height="610" width="500"/> </ion-avatar>
          <!--
            - Assistant text
            -->
          <ion-card-title>{{ title }}</ion-card-title>
          <ion-card-subtitle>{{ description }}</ion-card-subtitle>
        </ion-card-header>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
