<!--
  - INTRO1
  -->
<ion-card *ngIf="exercisePhase === 0">
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)="intro2()" i18n>Continuar</ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="this.imgs">
        <ion-col size-lg="2" size-md="4"><img class="ion-margin" [src]="this.getImage('c1').img.src" [height]="this.getImage('c1').img.height" [width]="this.getImage('c1').img.width"/></ion-col>
        <ion-col size-lg="2" size-md="4"><img class="ion-margin" [src]="this.getImage('c2').img.src" [height]="this.getImage('c2').img.height" [width]="this.getImage('c2').img.width"/></ion-col>
        <ion-col size-lg="2" size-md="4"><img class="ion-margin" [src]="this.getImage('c3').img.src" [height]="this.getImage('c3').img.height" [width]="this.getImage('c3').img.width"/></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<!--
  - INTRO2
  -->
<ion-card *ngIf="exercisePhase === 1">
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)="startDemo()" i18n>Continuar</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-lg="2" size-md="4"><img class="ion-margin" [src]="this.getImage('d24').img.src" [height]="this.getImage('d24').img.height" [width]="this.getImage('d24').img.width"/></ion-col>
        <ion-col size-lg="2" size-md="4"><img class="ion-margin" [src]="this.getImage('d4').img.src" [height]="this.getImage('d4').img.height" [width]="this.getImage('d4').img.width"/></ion-col>
        <ion-col size-lg="2" size-md="4"><img class="ion-margin" [src]="this.getImage('d19').img.src" [height]="this.getImage('d19').img.height" [width]="this.getImage('d19').img.width"/></ion-col>
        <ion-col size-lg="2" size-md="4"><img class="ion-margin" [src]="this.getImage('d22').img.src" [height]="this.getImage('d22').img.height" [width]="this.getImage('d22').img.width"/></ion-col>
        <ion-col size-lg="2" size-md="4"><img class="ion-margin" [src]="this.getImage('d25').img.src" [height]="this.getImage('d25').img.height" [width]="this.getImage('d25').img.width"/></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<!--
  - DEMO
  -->
<ion-card *ngIf="exercisePhase === 2">
  <ion-card-content>
    <ion-grid fixed="true">
      <span>{{ this.demoText }}</span>
      <ion-item-group (click)="demoScore()">
        <ion-row>
          <ion-col *ngFor="let pyr of pyramidsService.getPositionsArray(actualPyramids)" size="auto">
            <ion-item>
              <img [src]="this.getImage(pyr.img).img.src" [height]="this.getImage(pyr.img).img.height" [width]="this.getImage(pyr.img).img.width"/>
              <ion-checkbox [(ngModel)]="pyr.isChecked"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-item-group>
    </ion-grid>
  </ion-card-content>
</ion-card>

<!--
  - DEMO_END
  -->
<ion-card *ngIf="exercisePhase === 3">
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)="startCountdown()" i18n>Comenzar ejercicio</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<!--
  - COUNTDOWN
  -->
<ion-card *ngIf="exercisePhase === 4">
  <ion-card-content>
    <h1>{{ this.countdownTimeLeft }}</h1>
  </ion-card-content>
</ion-card>

<!--
  - EXERCISE
  -->
<ion-card *ngIf="exercisePhase === 5">
  <ion-card-content>
    <ion-grid fixed="true">
      <span i18n>Repetición: {{ this.actualPyramids }}/{{ this.pyramidsService.getPyramidsLength() - 1 }}. Quedan {{ this.timeLeft }} segundos.</span>
      <ion-item-group>
        <ion-row>
          <ion-col *ngFor="let pyr of pyramidsService.getPositionsArray(actualPyramids)" size="auto">
            <ion-item>
              <img [src]="this.getImage(pyr.img).img.src" [height]="this.getImage(pyr.img).img.height" [width]="this.getImage(pyr.img).img.width"/>
              <ion-checkbox [(ngModel)]="pyr.isChecked"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-item-group>
    </ion-grid>
  </ion-card-content>
</ion-card>

<!--
  - EXERCISE_CHANGE
  -->
<ion-card *ngIf="exercisePhase === 6">
  <ion-card-content>
    <h1 i18n>Cambio de panel</h1>
  </ion-card-content>
</ion-card>

<!--
  - END
  -->
<ion-card *ngIf="exercisePhase === 7">
  <ion-card-content>
    <ion-button (click)="endExercise()" i18n>Siguiente Ejercicio</ion-button>
  </ion-card-content>
</ion-card>
